<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>technology-sharing_object</title>
	<link rel="shortcut icon" href="../../resource/favicon/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	<div class="container">
		<div class="nav">
			<ul>
				<li><a href="#preface" class="active">preface</a></li>
				<li><a href="#assign">Object.assign()</a></li>
				<li><a href="#create">Object.create()</a></li>
				<li><a href="#copy">深拷贝与浅拷贝</a></li>
				<li><a href="#defineProperty">Object.defineProperty()</a></li>
			</ul>
		</div>
		<div class="main">
			<div class="block" id="preface">
				<div class="block_title">
					<h1>Object对象及其应用</h1>
					<small class="h1">分享人： Z77</small>
				</div>
				<div class="block_content">
					<p>前言：</p>
					<p class="block_ct">今天我要分享的是关于Object对象的方法，这个对象对我这个小小的切图仔来说是比较陌生的，平常除了用到Object.keys以外就真的很少很少接触到这个对象了，本来是单纯想要介绍数据的监听方法还有数据双向绑定的，但是了解了之后发现，数据绑定的原理还是挺好理解的，然后在Object对象中看到许多之前没有了解的东西还是挺棒的，还有些东西，真的不知道要用到哪里，感觉很鸡肋而且很多方法兼容性不是特别好，大部分IE8都是支持不了的（IE8什么时候才能退出江湖啊 碎碎念碎碎念）,但也顺便把这个大家伙拿出来分享一下。</p>
					<p class="block_ct">本来打算也是用ppt的，但是感觉有时候要运行代码的话，换来换去总是不太麻烦。嘛，既然是前端就直接用页面来实现吧~</p>
				</div>
			</div>


			<div class="block" id="assign">
				<div class="block_title">
					<h2>Object.assign()</h2>
					<small>主要功能： 将源对象内的参数字段添加或者覆盖到目标对象中,返回值为更新后的目标对象</small>
				</div>
				<div class="block_content">
					<div class="tip">
						<p class="title">语法</p>
						<p>Object.assign(target, ...sources)</p>
						<p>target: 目标对象</p>
						<p>sources: 源对象(多个)</p>
					</div>
					<p class="block_intro">方法会返回一个结果对象</p>
					<div class="codearea">
						<pre class="code">
							var origin = {a: 'aaa',b: 'bbb',c: 'ccc'},
								add = {c: 111,e: 'bbb'};
							var target = Object.assign({},origin,add);
							console.log(target);
						</pre>
						<div class="run btn">run</div>
					</div>
					<p class="block_intro">同时源对象也会改变，值和返回的对象相同</p>
					<div class="codearea">
						<pre class="code">
							var foo = {a: 'aaa',b: 'bbb',c: 'ccc'};
							Object.assign(foo,{d: 111});
							console.log(foo);
						</pre>
						<div class="run btn">run</div>
					</div>
					<div class="browsersupport">
						<h3>浏览器兼容性</h3>
						<table class="browsersupport_table">
						  	<tbody>
						  		<tr>
							      	<th>Chrome</th>
							      	<th>Firefox</th>
							      	<th>IE</th>
							      	<th>Opera</th>
							      	<th>Safari</th>
						  		</tr>
						  		<tr class="browsersupport_icons">
						      		<td><span class="icon icon_browser icon_browser-bschrome"></span></td>
						      		<td><span class="icon icon_browser icon_browser-bsfirefox"></span></td>
						      		<td><span class="icon icon_browser icon_browser-noneie"></span></td>
						      		<td><span class="icon icon_browser icon_browser-bsopera"></span></td>
						      		<td><span class="icon icon_browser icon_browser-bssafari"></span></td>
						  		</tr>
						  		<tr>
						  			<td>45</td>
						  			<td>34 (34)</td>
						  			<td>未实现</td>
						  			<td>32</td>
						  			<td>9</td>
						  		</tr>
							</tbody>
						</table>
					</div>
					<p class="block_intro">从浏览器的兼容性你可以看到，没错这个就是其中一个鸡肋的方法，不过没关系，这个和我们平常用以下代码可以替代的，当然如果你不管兼容的话，请君随意</p>
					<div class="codearea">
						<pre class="code">
							var foo = {a: 'aaa',b: 'bbb',c: 'ccc'};
							var origin = {d: 111};
							for (var i in origin) {
								foo[i] = origin[i];
							}
							console.log(foo);
						</pre>
						<div class="run btn">run</div>
					</div>
				</div>
			</div>



			<div class="block" id="create">
				<div class="block_title">
					<h2>Object.create()</h2>
					<small>主要功能： 会使用指定的原型对象及其属性去创建一个新的对象。</small>
				</div>
				<div class="block_content">
					<div class="tip">
						<p class="title">语法</p>
						<p>Object.create(target, {...properties})</p>
						<p>target: 目标对象(一般是一个空的对象)</p>
						<p>properties: 所需要的包含添加的属性与该属性的值的对象</p>
					</div>
					<p class="block_intro">这个方法和上面的Object.assign()还是有点相像的,也是返回结果对象一般用于对象的创建，但是不能直接改变目标对象，且assign的参数是源对象，create的参数是各个属性的名称和相对应的值</p>
					<p class="block_intro">正常的用法</p>
					<div class="codearea">
						<pre class="code">
							var target = Object.create({},{d:{value: 233, enumerable: true}});
							console.log(target);
						</pre>
						<div class="run btn">run</div>
					</div>
					<p class="block_intro">但是，如果你用Object.assign()的方法来用它，你会发现很神奇的现象</p>
					<div class="codearea">
						<pre class="code">
							var origin = {a: 'aaa',b: 'bbb',c: 'ccc'};
							var target = Object.create(origin,{d:{value: 233, enumerable: true}});
							console.log(origin);
							console.log(target);
						</pre>
						<div class="run btn">run</div>
					</div>
					<div class="browsersupport">
						<h3>浏览器兼容性</h3>
						<table class="browsersupport_table">
						  	<tbody>
						  		<tr>
							      	<th>Chrome</th>
							      	<th>Firefox</th>
							      	<th>IE</th>
							      	<th>Opera</th>
							      	<th>Safari</th>
						  		</tr>
						  		<tr class="browsersupport_icons">
						      		<td><span class="icon icon_browser icon_browser-bschrome"></span></td>
						      		<td><span class="icon icon_browser icon_browser-bsfirefox"></span></td>
						      		<td><span class="icon icon_browser icon_browser-bsie"></span></td>
						      		<td><span class="icon icon_browser icon_browser-bsopera"></span></td>
						      		<td><span class="icon icon_browser icon_browser-bssafari"></span></td>
						  		</tr>
						  		<tr>
						  			<td>5</td>
						  			<td>4.0 (2)	</td>
						  			<td>9</td>
						  			<td>11.60</td>
						  			<td>5</td>
						  		</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="block" id="copy">
				<div class="block_title">
					<h2>深拷贝与浅拷贝</h2>
					<small>既然说到了assign和create方法，我也顺便把这个问题给分享了。这是一个令人头疼的问题，之前学习vue的时候因为浅拷贝引起的我还以为是vue把它们绑定了，当时郁闷了好久，还是后来<span class="name">@zhj</span>和我讨论问题的时候才发现的。感谢大佬</small>
				</div>
				<div class="block_content">
					<h4>浅拷贝</h4>
					<p class="block_intro">我们先来看一个现象</p>
					<div class="codearea">
						<pre class="code">
							var a = {a: 1,b: 2,c: 3};
							var b = a;
							console.log(b);
							b.d = 4;
							console.log(b);
							console.log(a);
						</pre>
						<div class="run btn">run</div>
					</div>
					<p class="block_intro">数组其实也算是object类型，所以也会有这样的现象</p>
					<div class="codearea">
						<pre class="code">
							var a = [1,2,3];
							var b = a;
							console.log(b);
							b[3] = 4;
							console.log(b);
							console.log(a);
						</pre>
						<div class="run btn">run</div>
					</div>
					<p class="block_intro">在js中这就叫做浅拷贝</p>
					<p class="block_intro">对象不像其他Number、boolean、string类型等，如果是平常那样普通的赋值，那么源对象和目标对象就会指向同一地址，不管改变源对象的值还是目标对象的值，同时另一个值也会被改变，这就是为什么我们在对象方法中用var self = this;因为这个self可以实时更新的特性方便被我们运用。</p>
					<br><br>
					<p class="block_intro">深拷贝的现象大概会是下面这样的</p>
					<div class="codearea">
						<pre class="code">
							var a = {a:1,b:2,c:3};
							var b = Object.assign({},a);
							console.log(b);
							b.d = 4;
							console.log(b);
							console.log(a);
						</pre>
						<div class="run btn">run</div>
					</div>
					<p class="block_intro">但是注意，上面并不没有实现真正的深拷贝,因为当对象中还包含另一个对象，那么那个目标对象内部对象和源对象的内部对象还是指向同一储存地址。</p>
					<p class="block_intro">如果想实现深拷贝，由于时间的关系我就不具体贴了，这里我提供一个思想就是用assign或者forin方法递归获取对象，等有时间我会代码补上，大家这么厉害我相信自己实现也是不难的 :P</p>
				</div>

			</div>


			<div class="block" id="copy">
				<div class="block_title">
					<h2>Object.defineProperty()</h2>
					<small>噔噔噔噔~~<br>这就是我们今天的重头戏！他就是平常我们看到的数据绑定的重点依靠对象</small>
				</div>
				<div class="block_content">
					<div class="tip">
						<p class="title">语法</p>
						<p>Object.defineProperty(obj, propertyName, {...properties})</p>
						<p>target: 目标对象(一般是一个空的对象)</p>
						<p>properties: 所需要的包含添加的属性与该属性的值的对象</p>
					</div>
				</div>
			</div>
		</div> 
		<div class="inputarea">
			<div class="console">
				<p class="console_title">- 假装这是一个控制台 -</p>
				<pre class="console_content"></pre>
				<div class="clear btn" onclick="Code.clear()">clear</div>
			</div>

			<pre class="content" contenteditable="true"></pre>
			<div class="run btn">run</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/util.js"></script>
	<script type="text/javascript" src="../js/cursor.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" class="myscript"></script>
</body>
</html>

<!-- var a = {
    a:1,
     b:2,
     c:[2, 3]
};
var b = Object.assign({},a);
console.log(b);
b.c[2] = 4;
console.log(b);
console.log(a); -->