<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>technology-sharing_object</title>
	<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	<div class="container">
		<div class="nav">
			<ul>
				<li><a href="#preface" class="active">preface</a></li>
				<li><a href="#assign">Object.assign()</a></li>
				<li><a href="#create">Object.create()</a></li>
			</ul>
		</div>
		<div class="main">
			<div class="block" id="preface">
				<div class="block_title">
					<h1>Object对象及其应用</h1>
					<small class="h1">分享人： Z77</small>
				</div>
				<div class="block_content">
					<p>前言：</p>
					<p class="block_ct">今天我要分享的是关于Object对象的方法，这个对象对我这个小小的切图仔来说是比较陌生的，平常除了用到Object.keys以外就真的很少很少接触到这个对象了，本来是单纯想要介绍数据的监听方法还有数据双向绑定的，但是了解了之后发现，数据绑定的原理还是挺好理解的，然后在Object对象中看到许多之前没有了解的东西还是挺棒的，还有些东西，真的不知道要用到哪里，感觉很鸡肋而且很多方法兼容性不是特别好，大部分IE8都是支持不了的（IE8什么时候才能退出江湖啊 碎碎念碎碎念）,但也顺便把这个大家伙拿出来分享一下。</p>
					<p class="block_ct">本来打算也是用ppt的，但是感觉有时候要运行代码的话，换来换去总是不太麻烦。嘛，既然是前端就直接用页面来实现吧~</p>
				</div>
			</div>
			<div class="block" id="assign">
				<div class="block_title">
					<h2>Object.assign()</h2>
					<small>主要功能： 将源对象内的参数字段添加或者覆盖到目标对象中,返回值为更新后的目标对象</small>
				</div>
				<div class="block_content">
					<div class="tip">
						<p class="title">语法</p>
						<p>Object.assign(target, ...sources)</p>
						<p>target: 目标对象</p>
						<p>sources: 源对象</p>
					</div>
					<p class="block_intro">方法会返回一个结果对象</p>
					<div class="codearea">
						<pre class="code">
							var origin = {a: 'aaa',b: 'bbb',c: 'ccc'},
								add = {c: 111,e: 'bbb'};
							var target = Object.assign({},origin,add);
							console.log(target);
						</pre>
						<div class="run btn">run</div>
					</div>
					<p class="block_intro">同时源对象也会改变，值和返回的对象相同</p>
					<div class="codearea">
						<pre class="code">
							var foo = {a: 'aaa',b: 'bbb',c: 'ccc'};
							Object.assign(foo,{d: 111});
							console.log(foo);
						</pre>
						<div class="run btn">run</div>
					</div>
					<p class="block_intro">对象不像其他Number、boolean、string类型等，如果是平常那样普通的赋值，那么源对象和目标对象就会指向同一地址，这就是js中的浅拷贝，其实</p>
				</div>
			</div>
			<div class="block" id="create">
				<div class="block_title">
					<h2>Object.create()</h2>
					<small>主要功能： 会使用指定的原型对象及其属性去创建一个新的对象。</small>
				</div>
			</div>
		</div> 
		<div class="inputarea">
			<div class="console">
				<p class="console_title">- 假装这是一个控制台 -</p>
				<pre class="console_content"></pre>
			</div>

			<pre class="content" contenteditable="true"></pre>
			<div class="run btn">run</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" class="myscript"></script>
</body>
</html>