<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	<div class="container">
		<div class="nav">
			<ul>
				<li class="active">preface</li>
				<li>Object.assign()</li>
				<li>Object.assign()</li>
				<li>Object.assign()</li>
				<li>Object.assign()</li>
				<li>Object.assign()</li>
			</ul>
		</div>
		<div class="main">
			<div class="block">
				<div class="block_title">
					<h1>Object对象及其应用</h1>
					<small class="h1">分享人： 郑倩倩</small>
				</div>
				<div class="block_content">
					<p>前言：</p>
					<p class="block_ct">今天我要分享的是关于Object对象的方法，这个对象对我这个切图仔来说是比较陌生的，平常除了用到Object.keys以外就真的很少接触到这个对象了，本来是单纯想要介绍数据的监听方法还有数据双向绑定的，但是了解了之后发现，数据绑定的原理还是挺好理解的，然后在Object对象中看到许多之前没有了解的东西，还有些东西，真的不知道要用到哪里，感觉很鸡肋,但也顺便把这个大家伙拿出来分享一下。</p>
					<p class="block_ct">本来打算也是用ppt的，但是感觉有时候要运行代码的话，换来换去总是不太麻烦。嘛，既然是前端就直接用页面来实现吧~</p>
				</div>
			</div>
			<div class="block">
				<div class="block_title">
					<h2>Object.assign()</h2>
					<small>主要功能： 将源对象内的参数字段添加或者覆盖到目标对象中,返回值为更新后的目标对象</small>
				</div>
				<div class="block_content">
					<div class="tip">
						<p class="title">语法</p>
						<p>Object.assign(target, ...sources)</p>
						<p>target: 目标对象</p>
						<p>sources: 源对象</p>
					</div>
					<pre class="code">
						var foo = {};
					</pre>
				</div>
			</div>
		</div>
		<div class="inputarea">
			<pre class="content" contenteditable="true"></pre>
			<pre class="console"></pre>
		</div>
	</div>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" class="myscript"></script>
</body>
</html>