@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,small,form,button,input,textarea,th,td {margin:0;padding:0;max-height: 9999px;}
/*body,button,input,select,textarea{font:12px/1.5 tahoma,\5b8b\4f53,arial,sans-serif}*/
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;font-weight:normal}
input,button,textarea,select { outline:none;background-color: white;}
ul,ol,li {list-style:none;}
img {border:0;max-width: 100%;display: block;}
textarea { resize:none}
input { outline: none;box-shadow: none;-webkit-appearance: none;appearance:none; }
table {border-collapse:collapse; border-spacing: 0;}
body {color:#333;position:relative;_background-attachment:fixed;_background-image:url(about:blank)}
body,button,input,select,textarea {line-height:1.5em; font-family: '\5FAE\8F6F\96C5\9ED1','Microsoft YaHei',\5b8b\4f53,tahoma,arial,sans-serif;border:0}
@font-face {
	font-family: 'sourceHanSan';
	src: url(../../resource/font/SourceHanSansCN-Regular.otf);
}
html, body{
font-family: "sourceHanSan", "Hiragino Sans GB", "PingFang SC",Helvetica,"Microsoft YaHei","Hiragino Sans GB","enQuanYi Micro Hei",sans-serif;-webkit-font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
}
* {box-sizing: border-box;-webkit-box-sizing: border-box;color:#333333;padding:0;margin:0;border:0;line-height: 1.5em;max-width: 100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a {text-decoration:none;outline:0;color:inherit;}
b,span {color: inherit;font-style: inherit;font-size: inherit;}

.fl { float: left;}
.fr { float: right;}
.btn{cursor: pointer; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none;}
body .hidden { display: none;}
.clearfix{ zoom:1; }
.clearfix:after{ clear:both; content:"."; display:block; height:0; visibility:hidden;zoom:1;overflow: hidden;}

body, html { 
	height: 100%; 
	background-color: #f5f5f5; 
}

p {
	font-size: 16px;
}



.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
}

.nav {
	width: 20%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	border-right: 1px solid #3e5161;
	background: url(../images/bg.png) no-repeat;
	background-size: 100% 100%;
	padding-bottom: 140px;
}
.nav li a{
	display: block;
	font-size: 14px;
	line-height: 3em;
	color: #fff;
	padding-left: 1em;
	border-bottom: 1px solid #738492;
	width: 100%;
}

.nav a:hover, .nav a.active {
	background-color: #2a3742;
}

.run, .clear {
	background-color: #cf3f25;
	width: 3em;
	text-align: center;
	display: block;
	height: 2em;
	line-height: 2em;
	font-size: 16px;
	margin-top: -2em;
	float: right;
	color: #fff;
	border-bottom-right-radius: 4px;
}
.clear {
	background-color: #448aff;
}

.inputarea {
	width: 20%;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	border-left: 1px solid #3e5161;
	padding: 10px;
}

.content {
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
	bottom: 10px;
	top: 370px;
	left: 10px;
	right: 10px;
	border: 1px solid #eee;
	font-size: 14px;
	margin-top: 10px;
	padding: 10px;
	border-bottom: 40px solid #fff;
	white-space: pre-wrap;
	overflow-x: hidden;
	overflow-y: auto;
}

.console {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	height: 350px;
}
.console_title {
	font-size: 12px;
	text-align: center;
	color: #777;
}
.console_content {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	height: 98%;
	display: inline-block;
	padding: 10px;
	white-space: pre-wrap;
	overflow-x: hidden;
	overflow-y: auto;	
}


.inputarea .run {
	position: absolute;
	z-index: 1;
	bottom: 10px;
	right: 10px;
}
.inputarea .clear {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: -11px;
}

.main {
	margin-left: 20%;
	margin-right: 20%;
	padding: 20px;
}


.block {
	padding-bottom: 80px;
}
.block + .block {
	margin-top: 20px;
}
.block_title h1 {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0 6px;
}
.block_title h2 {
	font-size: 24px;
	font-weight: bold;
}
h3 {
	padding-top: 20px;
	font-size: 22px;
	font-weight: bold;
}
h4 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: bold;
}
h5 {
	padding-top: 20px;
	font-size: 18px;
	font-weight: bold;
}
h6 {
	padding-top: 20px;
	font-size: 16px;
	font-weight: bold;
}
span.name {
	font-weight: bold;
	background-color: #eee;
	display: inline-block;
}
.block_title small {
	display: block;
	font-size: 14px;
	margin-top: 10px;
}
.block_title small.h1 {
	text-align: center;
}

.block_content {
	padding-top: 20px;
}
.block_ct {
	text-indent: 2em;
}
.block_intro {
	padding-top: 10px;
	font-size: 16px;
}
.block_notice {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	color: #cf3f25;
}
.block_a {
	padding-top: 10px;
	display: block;
	color: #448aff;
	text-decoration: underline;
}
.tip {
	background-color: #bad7ed;
	padding: 6px 10px;
	border: 1px dashed #5bc5ed;
	margin-top: 10px;
	border-radius: 6px;
}
.tip p {
	line-height: 1.4em;
	font-size: 14px;
}
.tip .title {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px dashed #5bc5ed;
	line-height: 2em;
}
.tip .use {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
}
.code {
	background-color: #eee;
	border: 1px dashed #ccc;
	font-size: 14px;
	padding: 6px 10px;
	border-radius: 6px;
	margin-top: 10px;

}

code, pre {
	font-family: "sourceHanSan", "Hiragino Sans GB", "PingFang SC",Helvetica,"Microsoft YaHei","Hiragino Sans GB","enQuanYi Micro Hei",sans-serif;-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}


.browsersupport {
	margin-top: 30px;
}
.browsersupport_table th {
    padding: 0;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    background-color: #F5F5F5;
    border: 1px solid #ddd;
}
.browsersupport_table {
	margin-top: 15px;
	border: 1px solid #aaa;
	width: 100%;
    border-collapse: collapse;
}
.browsersupport_table td {
    width: 86px;
    text-align: center;
    padding: 0;
    background-color: #fdfcf8;
    border: 1px solid #ddd;
    font-size: 14px;
	line-height: 2em;
}
.browsersupport_icons td {
	font-size: 0;
    height: 86px;
    vertical-align: middle;
}

.icon_browser {
	width: 48px;
	height: 48px;
	background-image: url('../images/browser.png');
}

.icon_browser-bschrome {
    background-position: -20px -90px;
}
.icon_browser-bsfirefox {
    background-position: -88px -90px;
}
.icon_browser-bsie {
    background-position: -156px -90px;
}
.icon_browser-bsopera {
    background-position: -224px -90px;
}
.icon_browser-bssafari {
    background-position: -292px -90px;
}

.icon_browser-nonechrome {
    background-position: -20px -178px;
}
.icon_browser-nonefirefox {
    background-position: -88px -178px;
}
.icon_browser-noneie {
    background-position: -156px -178px;
}
.icon_browser-noneopera {
    background-position: -224px -178px;
}
.icon_browser-nonesafari {
    background-position: -292px -178px;
}

.icon_browser_s {
	width: 63px;
	height: 30px;
}
.icon_browser_s-bschrome {
    background-position: -20px -20px;
}
.icon_browser_s-bsfirefox {
    background-position: -103px -20px;
}
.icon_browser_s-bsie {
    background-position: -186px -20px;
}
.icon_browser_s-bsopera {
    background-position: -269px -20px;
}
.icon_browser_s-bssafari {
    background-position: -352px -20px;
}